.sprite {
  border: 2px solid black;
  height: 200px;
  margin: 20px;
  background-color: white;
}

h1 {
  background: linear-gradient(to right, white, rgb(253, 113, 113));
  display: flex;
  justify-content: center;
}

p {
  margin: 0px 20px;
  font-weight: bold;
  font-size: larger;
}

.body {
  background: linear-gradient(to right, white, rgb(253, 113, 113));
  height: 100vh;
  width: 100vw;
}

footer {
  padding: 40px 20px;
  position: fixed;
  bottom: 0;
}